# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL=postgresql://building_passport:password@localhost:65432/building_passport
ELCA_LEGACY_DATABASE_URL=postgres://elca_read_only:password@localhost:65433/elca
ELCA_LEGACY_DATABASE_URL_SUPERUSER=postgres://elca:password@localhost:65433/elca
ELCA_LEGACY_DATABASE_HAS_SSL=false
DOPPIO_API_KEY=ABCDEF123456
HTTP_BASIC_AUTH=username:password
NEXTAUTH_SECRET=ABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890
NEXT_PUBLIC_PASSPORT_BASE_URL=https://example.com
NEXT_TELEMETRY_DISABLED=1
PRISMA_TELEMETRY_DISABLED=1