openapi: 3.0.3
info:
  title: EOLDAT API
  description: API for accessing EOLDAT materials data
  version: 0.0.1-draft
  contact:
    name: eLCA Support
    email: elcadevs@n3xtcoder.org
  license:
    name: AGPL-3.0
    url: https://www.gnu.org/licenses/agpl-3.0.html
servers:
  - url: https://api.eoldat.de/api/v1
    description: API server base url
paths:
  /releases:
    get:
      summary: Get list of available releases
      operationId: getReleases
      parameters: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Release'
        '400':
          description: Bad request - invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Item not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /releases/{releaseUuid}/materials:
    get:
      summary: Get all materials
      operationId: getmaterials
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Material'
        '400':
          description: Bad request - invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /releases/{releaseUuid}/materials/{uuid}:
    get:
      summary: Get single material by UUID
      operationId: getmaterialsUuid
      parameters:
        - name: uuid
          in: path
          required: true
          schema:
            type: string
          description: The uuid of the Material to retrieve
          example: "1780bc87-ea01-4b92-9894-d0c384876849"
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/Material'                  
        '400':
          description: Bad request - invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Item not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  schemas:
    Release:
      type: object
      required:
        - uuid
        - releaseTag
      properties:
        uuid:
          type: string
          description: tBaustoff release uuid
          format: uuid
          example: "1780bc87-ea01-4b92-9894-d0c384876849"
        releaseTag:
          type: string
          description: tBaustoff release tag
          example: "2025-09-29"
    Material:
      type: object
      required:
        - uuid
        - release
        - name
      properties:
        uuid:
          type: string
          description: tBaustoff unique identifier for the material
          example: "1780bc87-ea01-4b92-9894-d0c384876849"
        releaseUuid:
          type: string
          description: tBaustoff release uuid
          example: "1780bc87-ea01-4b92-9894-d0c384876849"
        name:
          type: string
          description: Name of the Material
          maxLength: 500
          example: "Expandierter Kork"
        eolCategory:
          $ref: '#/components/schemas/EOLCategory'
          nullable: true
          description: Related eolcategory
        oekobaudatMappings:
          type: array
          items:
            $ref: '#/components/schemas/OekobaudatMapping'
          description: List of related oekobaudatmappings
    EOLCategory:
      type: object
      required:
        # - id
        - name
        - eolScenarioUnbuiltReal
        - eolScenarioUnbuiltPotential
        - technologyFactor
      properties:
        # id:
        #   type: integer
        #   description: Unique identifier for the EOL category
        name:
          type: string
          description: Name of the EOL category
          example: "Expandierter Kork"
        categoryUuid:
          type: string
          description: UUID of the EOL category
          format: uuid
          example: "1780bc87-ea01-4b92-9894-d0c384876849"
        eolScenarioUnbuiltReal:
          type: string
          description: End-of-life scenario for unbuilt real state
          enum:
            - WV
            - CL+
            - CL-
            - RC+
            - RC-
            - SV
            - EV+
            - EV-
            - EB
            - Dep+
            - Dep-
          example: "EB"
        eolScenarioUnbuiltPotential:
          type: string
          description: End-of-life scenario for unbuilt potential state
          enum:
            - WV
            - CL+
            - CL-
            - RC+
            - RC-
            - SV
            - EV+
            - EV-
            - EB
            - Dep+
            - Dep-
          example: "WV"
        technologyFactor:
          type: number
          description: Technology factor for the category
          minimum: 0
          maximum: 1
          example: 0.25
        # materials:
        #   type: array
        #   items:
        #     $ref: '#/components/schemas/Material'
        #   description: List of related materials
    OekobaudatMapping:
      type: object
      required:
        - oebdProcessUuid
        - oebdReleaseUuid
      properties:
        oebdProcessUuid:
          type: string
          description: Oekobaudat process UUID
          format: uuid
          example: "bb5df017-7c84-4f33-bc4a-526e84e601ac"
        oebdReleaseUuid:
          type: string
          description: Oekobaudat Materialrelease UUID
          format: uuid
          example: "a2a205d3-0841-492e-83b2-5a54c1170456"
        # MaterialId:
        #   type: integer
        #   description: Foreign key to tBaustoff Material
        #   nullable: true
        # Material:
        #   $ref: '#/components/schemas/Material'
        #   nullable: true
        #   description: Related Material
    ErrorResponse:
      type: object
      required:
        - error
      properties:
        error:
          type: object
          required:
            - code
            - message
          properties:
            code:
              type: string
              description: Error code for programmatic handling
            message:
              type: string
              description: Human-readable error message
            details:
              type: object
              description: Additional error details
              additionalProperties: true
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token for API authentication
security:
  - BearerAuth: []